* {
    color: var(--darkcornflowerblue);
}

:root {
    --white: #fff;
    --blackshadows: #bbb4b5;
    --linen: #ffede6;
    --darkcornflowerblue: #3a467d;
    --beaublue: #d3e5f3;
}

header, .recent-works {
    background-color: var(--linen);
    text-align: center;
    padding: 0 0 30px;
}

.header-img {
    height: 150px;
    width: 100%;
    background-image: url(../images/header-img.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    border-bottom: 2px solid var(--darkcornflowerblue);
    padding: 18px 0 20px;
    text-transform: uppercase;
    display: inline-block;
    width: 70%;
    justify-content: center;
    margin: 28px 28px 0;
    font-size:50px;
}

nav ul {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    background: var(--darkcornflowerblue);
    color: white;
    border: 10px solid var(--darkcornflowerblue);
    border-radius: 10px;
    margin: -10px;
}

.about {
    display: inline-flex;
    align-items: center;
}

.about img {
    height: 300px;
    border: 10px solid;
}

.biography h3 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 18px;
    background-color: var(--darkcornflowerblue);
    color: var(--white);
    padding: 5px 0 5px 40px;
}

.biography p {
    text-align: justify;
    padding: 0 40px;
}

h2 {
    text-transform: uppercase;
    margin: auto;
    font-size:40px;
}

.recent-works h2 {
    padding: 50px 0 25px 0;
}

#featured-project, .small-project {
    display: inline-block;
}

.recent-works img {
    border: 10px solid var(--white);
    opacity: 0.7;
}

.recent-works img:hover {
    opacity: 1;
}

#featured-project img {
    width: 800px;
}

.projects {
    display: inline-flex;
    justify-content: center;
    flex-wrap:wrap;
}

.small-project img {
    width: 350px;
    margin: 10px;
}

.recent-works p {
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: var(--darkcornflowerblue);
    color: var(--white);
    margin:-15px;
    padding: 5px 10px;
    width: fit-content;
    position: relative;
    top: -20px;
    left:15px
}

.recent-works span {
    text-transform: none;
    color: var(--white);
    opacity: 0.5;
}

#featured-project p {
    font-size: 20px;
}

.small-project p {
    font-size:16px;
    top: -27px;
    left: 25px;
}

.contact-header {
    display: flex;
}

.contact-img {
    height: 200px;
    width: 500px;
    background-image: url(../images/contact-img.jpg);
    background-size: cover;
    background-position: center;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    background: var(--darkcornflowerblue);
    padding: 20px;
    text-align: center;
}

.contact a {
    padding: 20px;
    text-decoration: none;
}

.contact a:hover {
    background: var(--linen);
    border: 10px solid var(--linen);
    border-radius: 10px;
    margin: -10px;
}

.contact a:hover h4, .contact a:hover p {
    color: var(--darkcornflowerblue);
}

.contact h4 {
    color: var(--white);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: lighter;
    font-size:20px;
}

.contact p {
    color: var(--white);
    margin-top: -15px;
    font-size:16px
}

footer {
    background-color: var(--blackshadows);
}

footer li {
    color:var(--white);
    margin: 0 10px;
}

footer ul {
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size:12px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 10px;
}

footer ul a {
    color: var(--white);
}

footer ul a:hover {
    color: var(--darkcornflowerblue);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1100px) {
    div.contact-img {
        width:350px;
    }

        div#featured-project img {
        width:650px;
    }

    div.small-project img {
        width:550px;
    }

    h2 {
        font-size:30px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 900px) {
    h1 {
        font-size: 40px;
    }

    nav li {
        font-size:15px;
    }

    .about {
        display:block;
        text-align:center;
    }

    .about h3 {
        margin:auto;
        padding:5px 0;
    }

    div#featured-project img {
        width: 500px;
    }

    div.small-project img {
        width: 500px;
    }

    div.contact-img {
        display:none;
    }

    .contact-header {
        height:75px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    h1 {
        font-size:28px;
    }

    nav li {
        font-size:14px;
    }

    div#featured-project img {
        width: 300px;
    }

    div.small-project img {
        width: 300px;
    }

    h2 {
        font-size:24px;
    }

    section.contact {
        display:block;
    }

    section.contact h4, section.contact p {
        font-size:15px;
    }

    .credits {
        display:block;
    }
}