* {
    color: var(--darkcornflowerblue);
}

:root {
    --white: #fff;
    --blackshadows: #bbb4b5;
    --linen: #ffede6;
    --darkcornflowerblue: #3a467d;
    --beaublue: #d3e5f3;
}

header, .recent-works {
    background-color: var(--linen);
    text-align: center;
    padding: 0 0 30px;
}

.header-img {
    height: 150px;
    width: 100%;
    background-image: url(../images/header-img.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    border-bottom: 2px solid var(--darkcornflowerblue);
    padding: 18px 0 20px;
    text-transform: uppercase;
    font-size: 42px;
    display: inline-block;
    width: 70%;
    justify-content: center;
    margin: 28px 28px 0;
}

nav ul {
    font-family: sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0
}

nav a {
    text-decoration: none;
}

nav a:hover {
    background: var(--darkcornflowerblue);
    color: white;
    border: 10px solid var(--darkcornflowerblue);
    border-radius: 10px;
    margin: -10px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about img {
    height: 400px;
    margin: 0 0 0 400px;
    border: 10px solid;
}

.biography {
    flex: 1;
    margin: 0 400px 0 0;
}

.biography h3 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: var(--darkcornflowerblue);
    color: var(--white);
    padding: 5px 0 5px 40px;
}

.biography p {
    text-align: justify;
    padding: 0 40px;
}

h2 {
    text-transform: uppercase;
    font-size: xx-large;
    margin: auto;
}

.recent-works h2 {
    padding: 50px 0 25px 0;
}

#featured-project, .small-project {
    display: inline-block;
}

.recent-works img {
    border: 10px solid var(--white);
    opacity: 0.7;
}

.recent-works img:hover {
    opacity: 1;
}

#featured-project img {
    width: 850px;
}

.projects {
    display: inline-flex;
    justify-content: center;
}

.small-project img {
    width: 350px;
    margin: -5px 15px;
}

.recent-works p {
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: var(--darkcornflowerblue);
    color: var(--white);
    margin: 0;
    padding: 5px 10px;
    width: fit-content;
    position: relative;
    top: -42px;
}

.recent-works span {
    text-transform: none;
    color: var(--white);
    opacity: 0.5;
}

#featured-project p {
    font-size: x-large;
}

.small-project p {
    top: -28px;
    left: 15px;
}

.contact-header {
    display: flex;
    align-items: center;
}

.contact-img {
    height: 200px;
    width: 500px;
    background-image: url(../images/contact-img.jpg);
    background-size: cover;
    background-position: center;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    background: var(--darkcornflowerblue);
    padding: 20px;
    text-align: center;
}

.contact a {
    padding: 20px;
    text-decoration: none;
}

.contact a:hover {
    background: var(--linen);
    border: 10px solid var(--linen);
    border-radius: 10px;
    margin: -10px;
}

.contact a:hover h4, .contact a:hover p {
    color: var(--darkcornflowerblue);
}

.contact h4 {
    color: var(--white);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: large;
}

.contact p {
    color: var(--white);
    margin-top: -15px;
}

footer {
    background-color: var(--blackshadows);
}

footer li {
    color:var(--white);
    margin: 0 10px;
}

footer ul {
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: small;
    margin: auto;
    padding: 10px;
}

footer ul a {
    color: var(--white);
}

footer ul a:hover {
    color: var(--darkcornflowerblue);
}

@media only screen and (max-width: 1500px) {
    .about img {
        margin:0;
    }

    .biography {
        margin: 0;
    }
}

@media only screen and (max-width: 1200px) {
    div.small-project img {
        width:250px
    }
}

@media only screen and (max-width: 950px) {
    .about {
        display:block;
        text-align:center;
    }

    .about img {
        display:block;
        margin:auto;
    }

    .biography {
        margin:-15px 0 0 0;
    }

    #featured-project img {
        width:450px;
    }

   .projects {
        display:inline-flex;
        flex-wrap:wrap;
   }

    .small-project p {
        position: relative;
        top: -37px;
        left: 5px;
    }

   .projects img {
       width: 500px;
       margin:5px;
   }

   .contact-img {
       display:none;
   }

   .contact-header {
       padding:50px 0;
   }
}